# DataBase
DATABASE_URL=postgresql://ukique:taxi@localhost:5435/taxi_service_db
POSTGRES_USER=ukique
POSTGRES_PASSWORD=taxi
POSTGRES_DB=taxi_service_db
POSTGRES_PORT=5435
#RabbitMQ
RABBITMQ_URL=amqp://ukique:taxi@localhost:5672
RABBITMQ_DEFAULT_USER=ukique
RABBITMQ_DEFAULT_PASS=taxi
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
#Other
SECRET_KEY=d02af04113fa1402b5a0ea238d865377aa847ff00cad8a83b08a70c02da9ef42
