* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 150px;
    height: auto;
}

nav{
    display: flex;
    gap: 1rem;
}

.header {
    position: fixed;
    display: flex;
    gap: 2rem;
    align-items: center;

    width: 100%;
    border-bottom: 1px solid #222222;
    padding: 0.5rem 2rem;
}

.headerButton {
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    width: 100px;
    height: 50px;
    border-radius: 0.5rem;
    cursor: pointer;
}
.headerButton.active{
    background-color: #222222;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
}